<!DOCTYPE html>
<html>
<title>Protein Graph Database</title>
<head>

    <!-- jQuery -->
    <link rel="stylesheet" href="libs/jquery/jquery-ui.css">

    <script src="libs/jquery/jquery-3.3.1.js"></script>

    <script src="libs/jquery/jquery-ui.js"></script>

    <!-- Bootstrap -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="libs/bootstrap.min.css">

    <!-- jstree -->
    <script src="libs/jstree.js"></script>

    <link rel="stylesheet" href="libs/jstree/style.min.css"/>

    <!-- vis.js -->
    <script src="libs/vis/vis.min.js"></script>

    <link rel="stylesheet" href="libs/vis/vis.min.css">

    <!-- Vue.js -->
    <script src="libs/vue.js"></script>

    <!-- lodash -->
    <script src="libs/lodash.js"></script>

    <!-- Our -->
    <script src="js/app.js"></script>
    <script src="js/helpers.js"></script>

    <script src="js/components/visualization.js"></script>
    <script src="js/components/species-search.js"></script>
    <script src="js/components/threshold.js"></script>
    <script src="js/components/subgraph-buttons.js"></script>
    <script src="js/components/protein.js"></script>
    <script src="js/components/protein-list.js"></script>
    <script src="js/components/pathway.js"></script>
    <script src="js/components/node-filter.js"></script>
    <script src="js/components/view-tree.js"></script>

    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body><div id="pgdb-app">
    <div class="container-fluid">
        <div class="row">
            <div id="legend" class="col-md-4">
            </div>
            <div class="col-md-4" style="text-align: center;">
                <h1>Protein Graph Database</h1>
            </div>
        </div>
        <div class="row">
            <visualization v-bind:data="data"
                           v-bind:show="show"
                           v-bind:title="title"
                           v-bind:threshold="threshold">
            </visualization>
            <view-tree>
            </view-tree>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <species-search v-model="species"></species-search>
            <threshold v-model="threshold"
                       v-bind:last_clicked="last_clicked"
            ></threshold>
            <subgraph-buttons v-bind:data="data"
                              v-on:data-changed="data = $event"
            ></subgraph-buttons>
        </div>
        <div class="row">
            <protein v-model="protein"
                     v-bind:species="species"
                     v-bind:threshold="threshold"
                     v-on:data-changed="data = $event"
                     v-on:last-clicked-changed="last_clicked = $event"
                     v-on:title-changed="title = $event"
            ></protein>
            <pathway v-model="pathway"
                     v-bind:species="species"
                     v-bind:threshold="threshold"
                     v-on:data-changed="data = $event"
                     v-on:last-clicked-changed="last_clicked = $event"
                     v-on:title-changed="title = $event"
            ></pathway>
            <protein-list v-model="protein_list"
                          v-bind:species="species"
                          v-bind:threshold="threshold"
                          v-on:data-changed="data = $event"
                          v-on:last-clicked-changed="last_clicked = $event"
                          v-on:title-changed="title = $event"
            ></protein-list>
        </div>
        <div class="row">
            <node-filter v-model="show"></node-filter>
        </div>
    </div>
    <div id="progressbar"></div>
</div></body>
</html>