<!DOCTYPE html>
<html>
<title>Protein Graph Database</title>
<head>

    <!-- Bootstrap -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="libs/bootstrap.min.css">

    <!-- jQuery -->
    <link rel="stylesheet" href="libs/jquery/jquery-ui.css">

    <script src="libs/jquery/jquery-3.3.1.js"></script>

    <script src="libs/jquery/jquery-ui.js"></script>

    <!-- vis.js -->
    <script src="libs/vis/vis.min.js"></script>

    <link rel="stylesheet" href="libs/vis/vis.min.css">

    <!-- Vue.js -->
    <script src="libs/vue.js"></script>

    <!-- Our -->
    <script src="js/app.js"></script>
    <script src="js/visualize.js"></script>

    <script src="js/components/species-search.js"></script>
    <script src="js/components/threshold.js"></script>
    <script src="js/components/info.js"></script>
    <script src="js/components/subgraph-buttons.js"></script>
    <script src="js/components/protein.js"></script>
    <script src="js/components/protein-list.js"></script>
    <script src="js/components/pathway.js"></script>
    <script src="js/components/node-filter.js"></script>

    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body><div id="pgdb-app">
    <div class="container-fluid">
        <div class="row">
            <div id="legend" class="col-md-4">
            </div>
            <div class="col-md-4" style="text-align: center;">
                <h1>Protein Graph Database</h1>
            </div>
            <info></info>
        </div>
        <div class="row">
            <div id="visualization" class="col-md-12"></div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <species-search v-model="species"></species-search>
            <threshold v-model="threshold"
                       v-on:change="threshold_resubmit"
            ></threshold>
            <subgraph-buttons></subgraph-buttons>
        </div>
        <div class="row">
            <protein v-model="protein"
                     v-bind:species="species"
                     v-bind:threshold="threshold"
            ></protein>
            <pathway v-model="pathway"
                     v-bind:species="species"
                     v-bind:threshold="threshold"
            ></pathway>
            <protein-list v-model="protein_list"
                          v-bind:species="species"
                          v-bind:threshold="threshold"
            ></protein-list>
        </div>
        <div class="row">
            <node-filter></node-filter>
        </div>
    </div>
    <div id="progressbar"></div>
</div></body>
</html>