@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
padding: 0px;
margin: 0px;

}

.chart-header {
position: absolute;
top: 10px;
display: flex;
left: 50%;
width: 100%;
transform: translate(-28%,0);
}

#modules {
	position: relative;
	display:inline-flex;
	background-color: hsla(0,0%,100%,.15);
    backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	border-radius: 20px;
	max-width: 330px;
	padding: 5px;
	z-index: 999;
	overflow-x: scroll;
}
#modules::-webkit-scrollbar {
	display: none;
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none; 
	width: 0 !important;
}

#modules:hover {
	background-color: rgba(255, 255, 255, 0.5);

}

#modules .rectangle{
    width:20px;
	margin: 0 1px 0 1px;
    height:20px;
	border-radius: 20px;
}

.cf:before, .cf:after {
	content: "";
	display: table;
}

.cf:after {
	clear: both;
}

.cf {
	zoom: 1;
}

html,body{
	width: 100%;
	height: 100%;
	background-color: #000;
}

#pgdb-app {
	font-family: 'Roboto Mono', monospace;
	display: flex;
	overflow: hidden;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	font-size: 12px;
	line-height:1.25em;
}

#pgdb-app2 {
	font-family: 'Roboto Mono', monospace;
	display: flex;
	min-height: 100vh;
	align-items: center;
	justify-content: center;
}

.input-card {
	width: 450px;
	background: rgba(255, 255, 255, 0.5);
	padding: 4rem;
	border-radius: 10px;
	position: relative;
	z-index: 1;

}

.input-card::before {
	content: '';
	position: absolute;
	background: rgba(255, 255, 255, 0.15);
	inset: 0;
	border-radius: 10px;
	transform: rotate(-3deg);
	z-index: -1;
}

.input-card-logo {
	margin-bottom: 2rem;
}

.input-card-logo img{
	width: 60px;
}

.input-card-logo,
.input-data,
.input-card-navigation,
.input-card-footer,
.input-card-header {
	text-align: center;

}

.input-card-header{
	margin-bottom: 2rem;
}

.input-form-data{

	color: rgba(0, 0, 0, 0.75);
}

.input-form-data{
	display: flex;
	flex-direction:column;
	gap: 1rem;
}

.input-card-header h2 {
	font-family: 'Roboto Mono', monospace;
	font-weight: bold;
	color: black;
	font-size: 22px;
  }

.input-form-data button{
	background-color: #000;
	margin-top: 2rem;
	color: white;
	padding: 1rem;
	border-radius: 100px;
	text-transform: uppercase;
	letter-spacing: 1px;
	transition: .5s;
}

.input-form-data button:hover {
	background-color: rgba(0, 0, 0, 0.85);
	cursor: pointer;
	color:white;
}
.input-form-data #submit-btn.loading {
	pointer-events: none;
	position: relative;
  }

.input-form-data #submit-btn.loading .button__text {
	visibility: hidden;
	opacity: 0;
  }

.input-form-data #submit-btn.loading::after {
	content: "";
	position: absolute;
	width: 16px;
	height: 16px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	border: 4px solid transparent;
	border-top-color: #ffffff;
	border-radius: 50%;
	animation: button-loading-spinner 1s ease infinite;
  }

  @keyframes button-loading-spinner {
	from {
	  transform: rotate(0turn);
	}
  
	to {
	  transform: rotate(1turn);
	}
  }

.input-form-data textarea {
	font-family: 'Roboto Mono', monospace;
	border-radius: 20px;
	font-size: 14px;
	color: black;
	background-color: rgba(255,255,255,0.7);
	text-align: center;
	resize: none;
	border: none;
	outline: none;
	padding: 1rem;
	height: 100px;
	transition: 0.5s;

}

.input-form-data textarea:focus {
	background-color: white;
}

.input-form-data textarea::-webkit-scrollbar{
	display: none;
}

.vs__dropdown-toggle{
	background-color: rgba(255, 255, 255, 0.7);
	border: none ;
	border-radius: 20px ;
	font-family: 'Roboto Mono', monospace ;
}

.vs__dropdown-menu {
	background-color: rgba(0, 0, 0, 0.85);
	color: #ffffff;
	text-align: center;
	font-size: 14px;
	border: none ;
	border-radius: 20px ;
	margin-top: 10px;
	font-family: 'Roboto Mono', monospace ;
}

.vs__dropdown-menu::-webkit-scrollbar {
	display: none;
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none; 
	width: 0 !important;
  }


.vs--open .vs__dropdown-toggle {
    border-bottom-color: transparent;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.vs__actions button {
	background-color: rgba(0, 0, 0, 0.2);
	margin-top: 0;
	color: white;
	padding: 0.2rem;
	border-radius: 100px;
	text-transform: uppercase;
	letter-spacing: 1px;
	transition: .5s;
}

.vs__selected-options button{
	background-color: rgba(0, 0, 0, 0.2);
	margin-top: 0;
	color: white;
	padding: 0.2rem;
	border-radius: 100px;
	text-transform: uppercase;
	letter-spacing: 1px;
	transition: .5s;
}

.vs__selected-options {
	font-size: 14px;
} 

#vsel{
	margin-left: 5px;
}

#vsel .vs__selected-options {

	font-size: 14px;
	display: contents;
}

#select-graph .vs__selected-options {
	padding: 0 2px 0 25px;
}

#vsel .vs__dropdown-toggle {
	background-color: rgba(255, 255, 255, 0.15);
	border: none;
	border-radius: 20px;
	font-family: 'Roboto Mono', monospace;
	width: 100px;
	height: 25px;
	display: -webkit-flex;
	align-content: center;
}

#vsel .vs__dropdown-menu{
	background-color: rgba(0, 0, 0, 0.95);
	color: #ffffff;
	text-align: center;
	font-size: 12px;
	border: outset ;
	border-color: #fff;
	border-radius: 20px ;
	border-width: 1px;
	margin-top: 10px;
	font-family: 'Roboto Mono', monospace ;
	min-width: 0;
	max-height: 150px;
}

#vsel .vs__selected,
#clust_vsel .vs__selected{
	font-size: 12px;
	color: white;
	width: 55px;
	height: 20px;
	position: absolute;
	overflow-x: hidden;
	align-items: baseline;
	}

#vsel .vs__open-indicator,
#clust_vsel .vs__open-indicator,
.toolbar-button .vs__open-indicator{
	fill: rgba(255, 255, 255, 0.7);
}
#vsel .vs__clear,
#clust_vsel .vs__clear{
	fill: rgba(255, 255, 255, 0.7);
	margin-right: 4px;
}
#vsel .vs__actions{
	margin-top: 2px;
}

#clust_vsel .vs__actions{
	margin-top: -2px;
}

#vsel .vs__actions button,
#clust_vsel .vs__actions button{
	background: none;
	padding: 2px;
}

#vsel .vs__search{
	font-size: 12px;
	font-family: 'Roboto Mono', monospace ;
	text-transform: uppercase;
}

#clust_vsel {
	margin-top: 25px;
	display: flex;
	justify-content: center;
}

#clust_vsel .vs__dropdown-toggle{
	width: 60%;
	padding: 0px;
	color: white;
	background-color: rgba(255, 255, 255, 0.3);
}

.toolbar-button .vs__dropdown-toggle{
	background-color: rgba(0, 0, 0, 0.5);
	border-style: outset;
	border-width: 2px;
	padding: 0;
	width: 100%;
}

.toolbar-button #select_d,
.toolbar-theme #select_g {
	text-align: center;
	font-size: 12px;
	margin: 5px;
	height: 20px;
	width: 100%;
	
}

.toolbar-button .vs__selected{
	font-size: 12px;
	color: white;
	width: 130px;
	position: absolute;
	overflow-x: hidden;
	border: none;
	margin: 0;
	
}

.toolbar-button .vs__actions{
	padding: 0;
	margin-right: 5px;
}

.toolbar-button .vs__clear{
	fill: rgba(255, 255, 255, 0.7);
	background:none;
	width: auto;
	margin-right: 4px;
}


/* .input-form-data select{
	
	text-align: center;
	width: 100%;

	padding: .3rem;
	cursor: pointer;
	font-size: 14px;
	font-weight: 400;
	appearance: none;
	border-radius: 20px;
	background-color: rgba(255,255,255,.7);
	transition: 0.5s;
}

.input-form-data select:focus {
	background-color: white;
} */

.input-form-data .file-upload-wrapper{
	position: relative;
	width: 100%;
	border-radius:20px;
	height: 30px;
}

.input-form-data .file-upload-wrapper::after{
	content: attr(data-text);
	text-align: left;
    font-size: 16px;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255,255,255,0.7);
    padding: 10px 15px;
    display: block;
    width: calc(100% - 40px);
    pointer-events: none;
    z-index: 20;
    height: 30px;
    line-height: 10px;
    color: rgba(0,0,0,0.2);
    border-radius: 20px;
    font-weight: 300;
}

.input-form-data .file-upload-wrapper::before{
    content: 'Upload';
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    height: 30px;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    z-index: 25;
    line-height: 30px;
    padding: 0 15px;
	font-size: 14px;
	letter-spacing: 1px;
    text-transform: uppercase;
    pointer-events: none;
    border-radius: 0 20px 20px 0;
	transition: .5s;
}

.input-form-data .file-upload-wrapper:hover:before{
	background-color:rgba(0, 0, 0, 0.6);
}

.input-form-data .file-upload-wrapper:focus-within:after{
	background-color:white;
}

.input-form-data .file-upload-wrapper input[type="file"]{
    opacity: 0;
    position: absolute;
	font-size: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    height: 30 - 20px;
    margin: 0;
    padding: 0;
	border-radius: 20px;
    display: block;
    cursor: pointer;
    width: 100%;
}

.input-card-navigation {
	margin-bottom: 2rem;
	background-color: rgba(0, 0, 0, 1);
	border-radius: 10px;
	position: relative;
}
.input-card-navigation a{
	margin: 5px;
	padding: 15px;
	text-decoration: none;
	font-size: 14px;
	color: white;
	transition: 0.3s;
}

.input-card-navigation a:hover {
	color: rgba(255,255,255,0.8);
  }

.input-form-data input[type="range"]{
	-webkit-appearance: none;
	accent-color: black;
	appearance: none;
	cursor: pointer;
	width: 100%;
	height: 10px;
	border-radius: 20px;
	border: none;
	background: rgba(255, 255, 255, 0.7);
}
.input-form-data input[type="text"]{
	font-family: 'Roboto Mono', monospace;
	font-size: 14px;
	border-radius: 20px;
	color: black;
	background-color: rgba(255,255,255,0.7);
	text-align: center;
	resize: none;
	border: none;
	outline: none;
	padding: 1rem;
	width: 100%;
	transition: 0.5s;
}

.input-form-data input[type="text"]:focus {
	background-color: white;
}
.col {
	margin-top: 100px;
}

.toolbar-search{
	display: block;
	border-radius: 20px;

}

.toolbar-search input[type=text]{
	font-family: 'Roboto Mono', monospace;
	background-color: rgba(0, 0, 0, 0.9);
	border: none;
	border-radius: 20px;
	color: #fff;
	height: 20px;
	line-height: 20px;
	border-style: outset;
	border-width: 1px;
	text-align: center;
}

.minimize {	
 display: block;
 position:absolute;
 height: auto;
 bottom:0;
 top: 10px;
 right:0px;
 width: 240px;
 margin: 0;
 word-wrap: break-word;
 padding: 0px 18px 0px 18px;
 z-index: 3;
 color: black;
}
.min-button {
	z-index:999;
	position: fixed;
	top: 0;
	background-color:rgba(255, 255, 255, 0.3);
	border-radius: 20px;
	padding: 5px;
	margin-top: 10px;
	right:10px;
}

.min-button:hover{
	background-color: rgba(255, 255, 255, 0.5);
}

.min-button button {
	background-color:rgba(0,0,0,0.5);
	width: 20px;
	height: 20px;
	border-radius: 50%;
	cursor: pointer;
	border:1px solid #ccc;
	float:left;
	margin: 0 1px 0 1px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-repeat:no-repeat;
}

#dropdown-btn-min::after {
	font-size: 12px;
	content:"\25BC" ;
	color: white;
	z-index: 100;
}

#dropdown-btn-close::after {
	font-size: 12px;
	content:"X" ;
	color: white;
	z-index: 100;
}


.pane .text {
	overflow:hidden;
	height:101.5%;
	padding: 5px;
	text-align: center;
}

.pane .headertext {
	color: white;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 20px;
	padding: 10px;
	font-size:16px;
	margin-bottom: 20px;
	text-align: center;
	font-weight:bold;
}

.pane .nodeattributes {
	display:block;
	height:90.5%;
	padding: 5px;
	border-radius: 20px;
	background-color: rgba(0, 0, 0, 0.2);
	overflow-y: scroll;
	overflow-x: hidden;
}

.pane .name {
	font-size: 14px;
	cursor: default;
	padding:5px;
	width: 50%;
	text-align: center;
	border-radius: 20px;
	background-color: rgba(0, 0, 0, 0.5);
	font-weight:bold;
	margin-left: 25%;
}

.pane .name_term {
	font-size: 14px;
	cursor: default;
	padding:5px;
	width: 90%;
	text-align: center;
	border-radius: 20px;
	background-color: rgba(0, 0, 0, 0.5);
	font-weight:bold;
	margin-left: 5%;
}

.pane .data {
	padding-top: 10px;
	text-align: center;
	display: block;
	margin-bottom: 10px;
}

.pane .link {
	text-align: center;
	padding: 0 0 0 4px;
}

.pane .link li {
	padding-top: 2px;
	cursor:pointer;
}

.pane .link a {
	color: white;
	text-decoration: none;
}

.pane .statistics {
	text-align: center;
	padding: 0 0 0 4px;
	font-size: 12px;
}

.pane .statistics li {
	padding-top: 2px;
	cursor:pointer;
}

.pane .statistics a {
	color: white;
	text-decoration: none;
}

.pane #edges a {
	color: white;
	font-size: 9px;
	text-decoration: none;
	display: block;
	border-radius: 20px;
	text-align: center;
	padding: 7px;
}
.pane #edges .edge {
	color: white;
	text-decoration: none;
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 20px;
	text-align: center;
	padding: 5px;
}

.pane .p {
	color: white;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 20px;
	padding: 5px;
	font-size:14px;
	margin-bottom: 5px;
	display: inline-block;
	width: 100%;
}
.pane .p2 {
	color: white;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 20px;
	padding: 5px;
	font-size:14px;
	top: 50%;
	margin-bottom: 5px;
	margin-top:20px;
}

.pane select {
	font-family: 'Roboto Mono', monospace;
	text-align: center;
	width: 50%;
	color: white;
	margin-left: 25%;
	margin-top: 20px;
	border: none;
	padding: 3px;
	cursor: pointer;
	font-size: 10px;
	appearance: none;
	border-radius: 20px;
	background-color: rgba(255,255,255,.2);
	transition: 0.5s;
}



#export-all-btn{
	background-color: rgba(0, 0, 0, 0.5) ;
	margin-top: 5px;
	width:100%;
	color: white;
	padding: 5px;
	border-radius: 20px;
	text-transform: uppercase;
	letter-spacing: 1px;
	transition: .5s;
	
}

#export-all-btn:hover {
	background-color: rgba(0, 0, 0, 0.85);
	cursor: pointer;
	color:white;
}

#export-enrich-btn{
	margin-right:5px;
	background-color: rgba(0, 0, 0, 0.5) ;
	margin-top: 10px;
	width:70%;
	color: white;
	padding: 5px;
	border-radius: 20px;
	text-transform: uppercase;
	letter-spacing: 1px;
	transition: .5s;
	
}

#export-enrich-btn:hover {
	background-color: rgba(0, 0, 0, 0.85);
	cursor: pointer;
	color:white;
}

.left-close {
background-image: url('./assets/fancybox_sprite.png');
margin-left:-37px;
z-index:99999;
cursor: pointer;
padding-left:31px;
line-height:36px;
background-repeat: no-repeat;
margin-bottom:25px;
font-weight: bold;
font-size:14px;
}

.highlight_list {

	position: absolute;
	display: block;
	top:50%;
	left: 50%;
	height: auto;
	width: 300px;
	border-radius: 20px;
	background-color:rgba(255,255,255,0.15);
	transform: translate(-150px,-150px);
	z-index: 1;
	color: white;

}

.highlight_list:hover {

	background-color:rgba(255,255,255,0.5);
}
#protein_highlight_header {
	cursor: move;
	z-index: 999;

}

#protein_highlight_header .headertext,
#selection_highlight_header .headertext{

	color: white;
	background-color: rgba(0, 0, 0, 0.9);
	border-radius: 20px;
	border-style: outset;
	border-width: 1px;
	padding: 5px 5px 5px 20%;
	font-size: 14px;
	margin: 5px;
	text-align: center;
	font-weight: bold;
	display: flex;
	align-items: center;
}

.highlight_list .highlight_main {

	position: relative;
	margin: 5px 5px 5px 5px;
	border-radius: 20px;
	height: auto;
	background-color: rgba(0,0,0,0.9);
	text-align: center;

}

.highlight_main textarea {

	font-family: 'Roboto Mono', monospace;
	border-radius: 10px;
	font-size: 12px;
	color: white;
	background-color: rgba(255,255,255,0.15);
	text-align: center;
	border: none;
	margin-top: 30px;
	padding-top: 10px;
	resize: none;
	outline: none;
	height: 150px;
}

#highlight_protein {
	position: absolute;
	display: block;
	background-color: rgba(0, 0, 0, 0.5);
	cursor: pointer;
	color: white;
	border-radius: 20px;
	padding: 3px;
	width: 70%;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-left: 50%;
	margin-top: 20px;
	transform: translate(-50%,0);
}

.highlight_list button{

	background-color:rgba(0,0,0,0.5);
	width: 20px;
	height: 20px;
	border-radius: 50%;
	cursor: pointer;
	border:1px solid #ccc;
	margin: 0 0px 0 30px;
}

#highlight-btn-min::after {
	font-size: 12px;
	content:"X" ;
	color: white;
	z-index: 100;
}


#developercontainer {
	margin-left:25px;
	margin-bottom:25px;
	position:fixed;
	bottom:0;
}

#mainpanel {
display: grid;
}

#mainpanel .b1 {
padding: 0px;
}

.home-button{
	border-style: outset;
	z-index: 1;
	border-radius: 50%;
	position: relative;
	display: block;
	text-align: center;
	padding: 11px;
	height: 70px;
	width: 70px;
	top: 10px;
	left: 10px;
	cursor: pointer;

}

.home-button:hover{
	background-color: rgba(255, 255, 255, 0.5);

}

.home-button img{
	width: 50px;
	opacity: 0.8;
}

.toolbar-button {
	background-color: rgba(255, 255, 255, 0.15);
	height: 30px;
	margin-bottom: 20px;
	border-radius: 20px;
	display: grid;
	padding: 5px;
	align-content: center;
	position: relative;
	z-index: 999;
	left: -219px;
	transition: transform ease 500ms;
}

.toolbar-button:hover {
	background-color: rgba(255, 255, 255, 0.5);
	transform: translate(213px, 0);
}

.toolbar-icon{
	font-family: Arial Black;
	border-radius: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	height: 25px;
	border-style: outset;
	border-width: 1px;
	text-align: center;
	line-height: 24px;
	width: 25px;
	margin-left: 20px;
}

.toolbar-theme{
	position: relative;
	display: flex;
	width: 100%;
	align-items: center;
}

.toolbar-button button{
	background-color: rgba(0, 0, 0, 0.5);
	cursor: pointer;
	color: white;
	border-radius: 20px;
	padding: 3px;
	width: 80%;
	text-transform: uppercase;
	letter-spacing: 1px;
	transition: .5s;
}

.toolbar-button select{
	text-align: center;
	font-size: 12px;
	padding-left: 5px;
	height: 20px;
	width: 80%;
	border-style: outset;
	border-width: 2px;
	cursor: pointer;
	appearance: none;
	border-radius: 20px;
	color: white;
	letter-spacing: 1px;
	background-color: rgba(0, 0, 0, 0.5);
	transition: 0.5s;

}

.toolbar-button button:hover{
	background-color: rgba(255, 255, 255, 0.5);

}

#info {
	padding-bottom:15px;
}

.search-field {
	z-index: 999;
	padding: 5px;
	border-radius: 20px;
}

#search .results {
	display: none;
	background-color: rgba(0, 0, 0, 0.9);
	color: white;
	border-radius: 20px;
	text-align: center;
	margin: 6px;
	max-height: 75px;
	overflow-y: scroll;
	overflow-x: hidden;
}


.tool-pane .results {
	height: 200px;
	display: block;
	overflow-y: scroll;
	overflow-x: hidden;
}
.term-pane .results,
.term-graph-pane .results {
	margin-top: 5px;
	overflow-y: scroll;
	height: 95%;
	overflow-x: hidden;
}

#enrichment .results a {
	padding: 1px 2px;
	cursor: pointer;
	text-decoration: none;
	color: white;
	display: inline-block;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
	max-width: 100%;
}

.term-pane .results a,
.term-graph-pane .results a{
	margin: 10px;
	background-color: rgba(255, 255, 255, 0.1);
}

.results::-webkit-scrollbar {
	display: none;
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none; 
	width: 0 !important;
}

.term_number {
	position: relative;
	display: block;
	margin-left: 67%;
}

.term_number span {
	font-style: italic;
	font-weight:100;
	font-size: 10px;
}

.tool-pane {
	position: absolute;
    bottom:-380px;
    left:10px;
	width: 300px;
	height: 417px;
	overflow: hidden;
	border-radius: 20px;
	word-wrap: break-word;
	background-color:rgba(255,255,255,0.15);
	padding: 2px;
	z-index: 1;
	color: white;
	transition: transform ease 500ms;
}

.term-pane {
	position: absolute;
    left:10px;
	height: 90%;
	width: 300px;
	overflow: hidden;
	border-radius: 20px;
	word-wrap: break-word;
	background-color:rgba(255,255,255,0.15);
	padding: 2px;
	z-index: 1;
	color: white;
	transition: transform ease 500ms;
}

.tool-pane-show{
	transform: translate(0,-390px);
}
.tool-pane .headertext{

	border-radius: 20px;
	margin: 5px;

}

.tool-pane .headertext button{

	color: white;
	background-color: rgba(0, 0, 0, 0.9);
	border-radius: 20px;
	border-style: outset;
	border-width: 1px;
	padding: 3px;
	font-size:14px;
	width: 100%;
	text-align: center;
	font-weight:bold;
}
.term-pane .headertext button{

	color: white;
	background-color: rgba(0, 0, 0, 0.9);
	border-radius: 20px;
	border-style: outset;
	border-width: 1px;
	padding: 3px;
	font-size:14px;
	width: 100%;
	text-align: center;
	font-weight:bold;
}

.tool-pane .main-section{
	background-color: rgba(0, 0, 0, 0.9);
	text-align: center;
	border-radius: 20px;
	overflow: hidden;
	padding: 5px;
	height: 95.5%;
	margin-top: 10px;
}

.term-pane .main-section,
.term-graph-pane .main-section{
	background-color: rgba(0, 0, 0, 0.9);
	text-align: center;
	border-radius: 20px;
	overflow: hidden;
	padding: 10px;
	height: 95.5%;
}

.enrichment-filtering{

	font-family: 'Roboto Mono', monospace;
	position: relative;
	display: flex;
	margin: 5px;
	align-items: center;
}

.enrichment-filtering input[type="Text"]{

	border-radius: 20px;
	background-color: rgba(255, 255, 255, 0.15);
	height: 25px;
	font-size: 12px;
	color: white;
	border: None;
}

.enrichment-filtering select{
	font-family: 'Roboto Mono', monospace;
	text-align: center;
	margin-left: 5px;
	padding: 5px;
	height:25px;
	width: 30%;
	border: none;
	cursor: pointer;
	appearance: none;
	border-radius: 20px;
	color: white;
	background-color: rgba(255,255,255,.15);
	transition: 0.5s;
}

.change-level-menu {
	text-align: center;
	padding: 2px;
	margin-top: 5px;
}

.loading_pane::after {
	content: "";
	position: absolute;
	width: 16px;
	height: 16px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	border: 4px solid transparent;
	border-top-color: #ffffff;
	border-radius: 50%;
	animation: button-loading-spinner 1s ease infinite;	
}

  @keyframes button-loading-spinner {
	from {
	  transform: rotate(0turn);
	}
  
	to {
	  transform: rotate(1turn);
	}
  }

#search .results b {
padding-left: 2px;
}

#search .results a {
padding: 1px 2px;
display: block;
cursor: pointer;
text-decoration: none;
color: white;
}

#attributeselect {
margin: 20px 0 13px 0 ;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

#attributeselect .select {
	border: 1px solid #999;
	padding: 5px 7px 4px 7px;
	color: #fff;
	cursor: pointer;
	background-color: #999;
	background-image: url('./assets/sprite.png');
	background-repeat: no-repeat;
	background-position: 200px -144px;
}

#attributeselect .close {
background-position: 200px -8px;
}

#attributeselect .list {
	display: none;
	border: 1px solid 
	#999;
	padding: 6px;
	height: 150px;
	width: 226px;
	overflow-y: scroll;
	overflow-x: hidden;
	background-color: #999;
	/*position: relative;
		left: 240px;
		bottom: 164px;*/
	position:absolute;
	margin-left: 240px;
	margin-top:-164px;
	color: white;
}	

#attributeselect .list a {
display:block;
padding: 2px;
text-decoration: none;
color: #fff;
}

#attributeselect .list a:hover {
background-color: #fff;
color: #000;
}

.link h2 {
font-size: 1em;
padding-top: 1em;
}

.nodeattributes #demo1{
	position: relative;
	display: flex;
	left: 10%;
	margin-top: -30px;
}
.nodeattributes input[type="range"] {
	-webkit-appearance: none;
	margin-right: 10px;
	width: 200px;
	height: 7px;
	background: rgba(0, 0, 0, 0.6);
	border-radius: 5px;
	background-repeat: no-repeat;
  }

  .nodeattributes::-webkit-scrollbar {
	display: none;
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none; 
	width: 0 !important;
}

  .nodeattributes .boundary{
	position: relative;
	display: flex;
	align-items: center;
	margin: -20px 0px 0px 0px;
	padding: 5px;
  }
  
  .nodeattributes input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background: white;
	cursor: ew-resize;
	box-shadow: 0 0 2px 0 #555;
	transition: background .3s ease-in-out;
  }
  
  .nodeattributes input[type=range]::-webkit-slider-runnable-track  {
	-webkit-appearance: none;
	box-shadow: none;
	border: none;
	background: transparent;
  }

  .nodeattributes input[type=number]::-webkit-inner-spin-button{
	-webkit-appearance: none;
  }

  .nodeattributes input[type=number]{
	-webkit-appearance: none;
	border-radius: 20px;
	width: 30px;
	background-color: rgba(0, 0, 0, 0.6);
	color: white;
	text-align: center;
  }

  .toolbar-theme .boundary{
	position: relative;
	display: flex;
	align-items: center;
  }

  #edge-slider,
  #hubs-slider,
  #bc-slider,
  #pr-slider,
  #ec-slider{
	width: 80%;
	
  }

  .toolbar-theme input[type=number]::-webkit-inner-spin-button{
	-webkit-appearance: none;
  }

  .toolbar-theme input[type=number]{
	-webkit-appearance: none;
	border-radius: 20px;
	margin-left: 5px;
	width: 55px;						/* width of the number input of sliders */
	background-color: rgba(0, 0, 0, 0.6);
	color: white;
	text-align: center;
  }

#copyright {
	margin:0 auto;	
	position: fixed;
	right: 40px;
	bottom: 25px;
	z-index:0;
}

#copyright a {
color: #000;
}

#copyright .explanation {
display: none;
}

#zoom-parent {
	margin: 0;
	padding: 0;
}

#zoom {
	z-index:999;
	position: absolute;
	background-color:rgba(255, 255, 255, 0.15);
	border-radius: 20px;
	padding: 5px;
}

#zoom:hover{
	background-color: rgba(255, 255, 255, 0.5);
}

#zoom .z {
	font-family: Arial;
	background:#fff;
	background-color:rgba(0,0,0,0.9);
	width: 20px;
	height: 20px;
	border-radius: 50%;
	cursor: pointer;
	border:1px solid #ccc;
	margin: 0 1px 0 1px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-repeat:no-repeat;
}

.line {
	font-size: 12px;
	color: #000;
	text-decoration: none;
	font-weight: bold;
	cursor: pointer;
	cursor: hand;
}

#information {
display: none;
background: #fff;
padding: 1px 10px 10px 10px;
}

#information h3 {
margin: 14px 0 4px 0;
}

#information p {
margin: 0 0 4px 0;
}

#information .button {
width: 14px;
height: 14px;
background-image: url('./assets/sprite.png');
border: 1px solid #999;
display: inline-block;
*display: inline;
*zoom: 1;
}

#information .button span {
display: none;
}

#information .button.plus {
background-position: -91px -122px; 
}

#information .button.moins {
background-position: -131px -122px;
}

#minify {
background-color: #fff;
padding: 4px 4px 4px 25px;
cursor: pointer;
background-image: url('./assets/sprite.png');
background-repeat: no-repeat;
background-position: -167px -118px;
position: absolute;
top: 65px;
left: 15px;
display: none;
}

#minifier {
position: absolute;
width: 20px;
height: 16px;
background-image: url('./assets/sprite.png');
background-repeat: no-repeat;
background-position: -45px -147px;
cursor: pointer;
display: none;
}

#enrichment .modalpane {
    display:    none;
    position: relative;
    z-index:    1000;
    background:	url('./assets/fancybox_loading.gif')
                50% 50% 
				no-repeat;
	color: #fff;
	font-size: 12pt;
	padding-top: 30px;
}

/* When the enrichment has the loading class, we turn
   the scrollbar off with overflow:hidden */
#enrichment.loading {
    overflow: hidden;

}

/* Anytime the enrichment has the loading class, our
   modal element will be visible */
#enrichment.loading .modalpane {
    display: block;
}

#theme {
	position: absolute;
    top: 90%;
    right: 25%;
}

.white-theme {
	background-color: white;
	color: black;
}

.black-theme {
	background-color: black;
	color: white;
}

.gradient-theme {
	background: black;
}

#left-control-panel{
	display: grid;
	grid-auto-rows: max-content;
	/*float: left;*/
}
#chart-area {
	position: absolute;
	background-color: white;
	height: 100%;
	overflow: hidden;
	width: 100%;
	/*width: 78%;
	float: right;*/
}

#termbutton {
	position: absolute;
	z-index: 99;
    right: 0;
    bottom: 0;
	color: #fff;
	border-style: outset;
	border-width: 1px;
	border-radius: 20px;
	padding: 3px;
	font-size: 14px;
	background-color: rgba(255, 255, 255, 0.1);
	width: 100px;
	margin: 10px;
}

.graph-button-form{
	color: rgba(0, 0, 0, 0.75);
	display: flex;
	flex-direction:column;
	gap: 1rem;
}

.graph-button-form button{
	background-color: #000;
	margin-top: 1rem;
	color: white;
	padding: 1rem;
	border-radius: 100px;
	text-transform: uppercase;
	letter-spacing: 1px;
	transition: .5s;
}

.graph-button-form button:hover {
	background-color: rgba(0, 0, 0, 0.85);
	cursor: pointer;
	color:white;
}

.graph-button-form #term-btn.loading::after {
	content: "";
	position: absolute;
	width: 16px;
	height: 16px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	border: 4px solid transparent;
	border-top-color: #ffffff;
	border-radius: 50%;
	animation: button-loading-spinner 1s ease infinite;
  }

.graph-button-form #term-btn.loading {
	pointer-events: none;
  }

.graph-button-form #term-btn.loading .button__text {
	visibility: hidden;
	opacity: 0;
  }

.protein-view, .term-view, .container {
	position: absolute;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

/* Information panes for information display */
.pane {
	position: absolute;
	display: flex;
    bottom:0;
    top:0;
    right: 10px;
	height: 80%;
	width: 350px;
	overflow: hidden;
	margin-top: 50px;
	border-radius: 20px;
	word-wrap: break-word;
	padding: 2px;
	z-index: 1;
	color: white;
}

.p button, .p2 button {
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 20px;
	border: none;
	cursor: pointer;
	color: white;
	text-align: center;
	padding: 3px;
}

.pane .buttons {
	display: block;
	margin: 10px 5px 10px 0;

}

#paneclosebutton, #termpaneclosebutton, #subsetpaneclosebutton {

	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 20px;
	border: none;
	cursor: pointer;
	color: white;
	text-align: center;
	width: 25px;
	height: 25px;
	margin-top: 5px;
	

}

#panebutton, #termpanebutton, #subsetpanebutton {

	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 20px;
	border: none;
	cursor: pointer;
	color: white;
	text-align: center;
	width: 25px;
	height: 25px;
	justify-content: center;
	align-content: center;
	display: grid;

}
.tabs button {
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 20px;
	border: none;
	cursor: pointer;
	color: white;
	width: 25px;
	height: 25px;
	justify-content: center;
	align-content: center;
	display: grid;
}

.pane button:hover{
	background-color: rgba(255, 255, 255, 0.5);
}

.main-section{
	position: relative;
	background-color: hsla(0,0%,100%,.15);
    backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	margin: 5px 5px 5px 0px;
	border-radius: 20px;
	width: 100%;
}

.header {
	position: absolute;
	display: flex;
	align-items: center;
	-webkit-align-items: center;
}

/* Style for the tabs container */
.tabs {
	display: table-caption;
	margin: 40px 0 0 0;
}

.tool-item {
	padding: 5px;
}
.tool-item li {
	list-style-type: none;
}
.tool-item li:hover {
	background-color: white;
	color: black;
	border-radius: 20px;
	cursor: pointer;
}

.boundary {
	border-radius: 20px;
	background: rgba(255, 255, 255, 0.5);
	padding: 10px;
	margin: 10px;
}